@model Eaa.LtaBlog.Application.Models.PostsViewModel

@{
    ViewBag.Title = "Welcome";
}

<div id="posts">
@if (!string.IsNullOrWhiteSpace(Model.Tag))
{
	<div>Showing posts for tag: <b>@Model.Tag</b></div>
}

@foreach (var post in Model.Posts)
{
	@Html.Partial("PostSummary", post)
}

@if (Model.HasPrevPage || Model.HasNextPage)
{
	<div class="postsPager">
	@if (Model.HasPrevPage)
	{
		<div class="postsPrevPage">@Html.ActionLink("Previous Page", "List", new { tag = Model.Tag, page = Model.CurrentPage - 1 });</div>
	}
	@if (Model.HasPrevPage)
	{
		<div class="postsPrevPage">@Html.ActionLink("Previous Page", "List", new { tag = Model.Tag, page = Model.CurrentPage + 1 });</div>
	}
	</div>
}
</div>
